src/schemas/NLog.Targets.Syslog.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="NLog.Targets.Syslog"
           elementFormDefault="qualified"
           targetNamespace="https://github.com/graffen/NLog.Targets.Syslog/tree/master/src/schemas/NLog.Targets.Syslog.xsd"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:sl="https://github.com/graffen/NLog.Targets.Syslog/tree/master/src/schemas/NLog.Targets.Syslog.xsd"
           xmlns:nlog="http://www.nlog-project.org/schemas/NLog.xsd">
    <xs:import namespace="http://www.nlog-project.org/schemas/NLog.xsd" />
    <xs:complexType name="Syslog">
        <xs:complexContent>
            <xs:extension base="nlog:Target">
                <xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" />
                    <xs:element name="layout" type="nlog:Layout" minOccurs="0" maxOccurs="1" />
                    <xs:element name="enforcement" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="splitOnNewLine" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                                <xs:element name="transliterate" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                                <xs:element name="replaceInvalidCharacters" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                                <xs:element name="truncateFieldsToMaxLength" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                                <xs:element name="truncateMessageTo" type="xs:integer" minOccurs="0" maxOccurs="1" />
                            </xs:choice>
                            <xs:attribute name="splitOnNewLine" type="xs:boolean" />
                            <xs:attribute name="transliterate" type="xs:boolean" />
                            <xs:attribute name="replaceInvalidCharacters" type="xs:boolean" />
                            <xs:attribute name="truncateFieldsToMaxLength" type="xs:boolean" />
                            <xs:attribute name="truncateMessageTo" type="xs:integer" />
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="messageBuilder" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="facility" type="xs:string" minOccurs="0" maxOccurs="1" />
                                <xs:element name="rfc" type="xs:string" minOccurs="0" maxOccurs="1" />
                                <xs:element name="rfc3164" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="hostname" type="xs:string" minOccurs="0" maxOccurs="1" />
                                            <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="1" />
                                        </xs:choice>
                                        <xs:attribute name="hostname" type="xs:string" />
                                        <xs:attribute name="tag" type="xs:string" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="rfc5424" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="hostname" type="nlog:Layout" minOccurs="0" maxOccurs="1" />
                                            <xs:element name="appName" type="nlog:Layout" minOccurs="0" maxOccurs="1" />
                                            <xs:element name="procId" type="nlog:Layout" minOccurs="0" maxOccurs="1" />
                                            <xs:element name="msgId" type="nlog:Layout" minOccurs="0" maxOccurs="1" />
                                            <xs:element name="disableBom" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                                            <xs:element name="structuredData" minOccurs="0" maxOccurs="1">
                                                <xs:complexType>
                                                    <xs:choice minOccurs="0" maxOccurs="1">
                                                        <xs:element name="fromEventProperties" type="nlog:Layout" minOccurs="0" maxOccurs="1" />
                                                        <xs:element name="sdElement" minOccurs="1" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                                <xs:sequence>
                                                                    <xs:element name="sdParam" minOccurs="1" maxOccurs="unbounded">
                                                                        <xs:complexType>
                                                                            <xs:simpleContent>
                                                                                <xs:extension base="xs:string">
                                                                                    <xs:attribute name="name" type="xs:string" use="required" />
                                                                                    <xs:attribute name="value" type="xs:string" use="required" />
                                                                                </xs:extension>
                                                                            </xs:simpleContent>
                                                                        </xs:complexType>
                                                                    </xs:element>
                                                                </xs:sequence>
                                                                <xs:attribute name="sdId" type="xs:string" use="required" />
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:choice>
                                                </xs:complexType>
                                            </xs:element>
                                        </xs:choice>
                                        <xs:attribute name="hostname" type="nlog:SimpleLayoutAttribute" />
                                        <xs:attribute name="appName" type="nlog:SimpleLayoutAttribute" />
                                        <xs:attribute name="procId" type="nlog:SimpleLayoutAttribute" />
                                        <xs:attribute name="msgId" type="nlog:SimpleLayoutAttribute" />
                                        <xs:attribute name="disableBom" type="xs:boolean" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="messageTransmitter" minOccurs="0" maxOccurs="1">
                        <xs:complexType>
                            <xs:choice minOccurs="0" maxOccurs="unbounded">
                                <xs:element name="retryInterval" type="xs:integer" minOccurs="0" maxOccurs="1" />
                                <xs:element name="protocol" type="xs:string" minOccurs="0" maxOccurs="1" />
                                <xs:element name="udpProtocol" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="server" type="xs:string" minOccurs="1" maxOccurs="1" />
                                            <xs:element name="port" type="xs:integer" minOccurs="0" maxOccurs="1" />
                                        </xs:choice>
                                        <xs:attribute name="server" type="xs:string" />
                                        <xs:attribute name="port" type="xs:integer" />
                                    </xs:complexType>
                                </xs:element>
                                <xs:element name="tcpProtocol" minOccurs="0" maxOccurs="1">
                                    <xs:complexType>
                                        <xs:choice minOccurs="0" maxOccurs="unbounded">
                                            <xs:element name="server" type="xs:string" minOccurs="1" maxOccurs="1" />
                                            <xs:element name="port" type="xs:integer" minOccurs="0" maxOccurs="1" />
                                            <xs:element name="reconnectInterval" type="xs:integer" minOccurs="0" maxOccurs="1" />
                                            <xs:element name="useTls" type="xs:boolean" minOccurs="0" maxOccurs="1" />
                                            <xs:element name="framing" type="xs:string" minOccurs="0" maxOccurs="1" />
                                            <xs:element name="dataChunkSize" type="xs:integer" minOccurs="0" maxOccurs="1" />
                                        </xs:choice>
                                        <xs:attribute name="server" type="xs:string" />
                                        <xs:attribute name="port" type="xs:integer" />
                                        <xs:attribute name="reconnectInterval" type="xs:integer" />
                                        <xs:attribute name="useTls" type="xs:boolean" />
                                        <xs:attribute name="framing" type="xs:string" />
                                        <xs:attribute name="dataChunkSize" type="xs:integer" />
                                    </xs:complexType>
                                </xs:element>
                            </xs:choice>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
                <xs:attribute name="name" type="xs:string" />
                <xs:attribute name="layout" type="nlog:SimpleLayoutAttribute" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>